/* Theme Colors */

$primary-color: #005EB8;
$secondary-color: #93C4F6;
$app-yellow: #FFD797;
$app-brown: #B87200;
// $primary-color: #F2F2F2;
// $primary-color: #F2F2F2;


$text-color: #47404F;

/* Layout */
$bg-color: #F2F2F2;